body {
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
    
}

table {
    table-layout: auto;
    width: 40%;
    font-size: 14pt;
    border: 1px solid;
    padding: 10px;
    background-color: #e7ffed;
    box-shadow: 15px 15px 10px #859ca0;
    margin:0 auto;
    font-weight:bold;
}
table tbody tr:nth-child(even) {
    background-color: #e7f0ed;
}


thead {
    font-size: 25pt;
    font-weight: bold;
}

thead,
tfoot {
    background-color: #7fb9c2;
}

table,
th,
td {
    border: 1.5px solid lightgray;
    border-collapse: collapse;
}

td {
    height: 30px;
    padding: 5px 15px;
}

th {
    padding: 5px 15px;
    font-weight: bolder;
}

.title {
    background-color: #628ca6;
    color: white;
}


tfoot {
    font-size: 14pt;
}

