@media only screen and (min-width: 60em) {
    nav ul {
      flex-direction: row;
    }
  }


  .bar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-menu_items {
    display: flex;
    padding-inline-start: 0;
    list-style: none;
}    

.bar-menu_items li {
    padding: 0 20px;
    margin: 0 40px;
}

.bar-menu_items li a {
    padding: 7px 13px;
    display: block;
}