body{
    background-color: #CFCFCF;
}

header {
    background-color: #CFCFCF;
    text-align: center;
}

footer{
    background-color: #3B66AC;
    text-align: center;
    padding: 1em;
    margin: 35px;
    box-shadow: 0 5px 5px 0 rgba(114, 106, 106);
    font-family: 'Montserrat', sans-serif;
    margin-top: -20px;

}


h1, h2, h3{
    font-family: 'Lato', sans-serif;
    padding: .5em;
}


.logo{
    width: 175px;
    padding: 0 20px;
    margin-bottom: -40px;
}
/*
.bar-menu{
    display: block;
    justify-content: center;
    list-style: none;
    background-color: #3b66ac;
    padding: 15px;
    margin-top: -5px;
    margin: 25px;
    box-shadow: 0 5px 5px 0 rgba(114, 106, 106);
}

a{
    text-decoration: none;
    padding: .8em;
    font-family: 'Lato', sans-serif;
    
}

a:link {
    color: #161717;
}

a:visited{
    color: #161717;
}



*/

/*----------------------------------------*/
nav{
    background-color: #3b66ac;
    line-height: 4em;
    text-align: center;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 5px 5px 0 rgba(114, 106, 106);
    margin: 40px;
    margin-bottom: -40px;
}

nav ul{
    list-style-type: none;

}

a{
    text-decoration: none;
    padding: .8em;
    font-family: 'Lato', sans-serif;
    color: #161717;
}


nav a{
    padding: 1em;
    min-width: 70px;
    text-decoration: none;
    color: #161717;

}

a:hover{
    background-color: rgba(214, 214, 214, 0.404);
}
/*----------------------------------------*/

section{
    background-color: #FFFFFF;
    box-shadow: 0 5px 5px 0 rgba(114, 106, 106);
    margin: 1em;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
section p{
    margin: 1em;
}

main {
    text-align: center;
    justify-content: space-evenly;
    padding: 1.5em;
}

.colors{
    min-width: 100px;
    margin:auto;
    text-align: center;
    padding: 10px;
}

.colors th{
    background-color: #CFCFCF;
}

.colors td{
    width: 25%;
    height: 3em;
}

.primary{
    background-color: #CFCFCF;
}

.secondary{
    background-color: #3B66AC;
}

.accent1{
    background-color: #FFFFFF;
}

.accent2{
    background-color: #161717;
    color:#FFFFFF;
}

