@media screen and (max-width: 1200px) {
    body {
        margin-left: 0px;
    }

    .home-grid {
        grid-template-columns: 1fr 1fr;
    }

    .lego-img,
    .zalando-img,
    .apple-img {
        min-width: 96%;
    }

    .column {
        min-width: 96%;
    }

}
